.headers {
    display: flex;
    background-color: lightblue;
    justify-content: center;

    
}

.headers h1{
    color:darkblue;
    text-align: center;
    

}
.mainbody{
display: flex;
font-size: 20px;
background-color: bisque;

}

.image{
display: flex;
border-radius: 10px;
border-style: dashed;
border-color: black;
justify-content: center;
text-align: center;
}

.links {
display: flex;
font-size: 20PX;
background-color: bisque;
}


